In [2]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [3]:
tracking2020 = pd.read_csv('data/tracking2020.csv')

In [4]:
tracking2020.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,team,frameId,gameId,playId,playDirection
0,2021-01-03T18:03:02.200,61.21,46.77,0.08,0.13,0.01,186.21,144.73,None,42901.0,Dean Marlowe,31.0,SS,home,1,2021010300,40,left
1,2021-01-03T18:03:02.300,61.22,46.77,0.11,0.19,0.01,184.87,126.09,None,42901.0,Dean Marlowe,31.0,SS,home,2,2021010300,40,left
2,2021-01-03T18:03:02.400,61.23,46.76,0.10,0.18,0.01,183.38,108.95,None,42901.0,Dean Marlowe,31.0,SS,home,3,2021010300,40,left
3,2021-01-03T18:03:02.500,61.24,46.76,0.11,0.22,0.01,180.24,91.57,None,42901.0,Dean Marlowe,31.0,SS,home,4,2021010300,40,left
4,2021-01-03T18:03:02.600,61.25,46.76,0.05,0.20,0.01,172.44,119.91,None,42901.0,Dean Marlowe,31.0,SS,home,5,2021010300,40,left

In [5]:
tracking2020.columns

Index(['time', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event', 'nflId',
       'displayName', 'jerseyNumber', 'position', 'team', 'frameId', 'gameId',
       'playId', 'playDirection'],
      dtype='object')

In [6]:
playId = 40
gameId = 2021010300

In [11]:
gameData = tracking2020.loc[tracking2020.loc[:, 'gameId']==gameId, :]
gameData.playId.unique()

array([  40,  376,  395,  548,  675,  782,  867, 1080, 1096, 1232, 1470,
       1486, 1586, 1612, 1628, 1947, 1966, 2085, 2101, 2217, 2276, 2555,
       2571, 2755, 2800, 2816, 3532, 3548, 3660, 3676, 3930, 4075, 4252,
       4268, 4478, 4494])

In [21]:
playData = gameData[(gameData.playId == playId) & (gameData.gameId == gameId)].sort_values("frameId", ascending=True)

In [25]:
# Create an initial canvas
if (playData.playDirection == 'left').any():
    playData.x = 120 - playData.x

True

In [ ]:
frames = playData.loc[:, 'frameId'].unique()
for frame in frames:
    
    # Get the data for current frame
    frameData = playData.loc[playData.loc[:, 'frameId']==frame, :]
    
    #